.btn {
  display: inline-block;
  padding: .75em 2.5em;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 100px;
  color: $color-white;

  &:not(:last-of-type) {
    margin-bottom: .6em;
  }

  &.btn--blue {
    background: $color-numeris-blue;
    border: 2px solid $color-numeris-blue;
    color: $color-white;
    &:hover, &:focus {
      background: darken($color-numeris-blue, 15%);
    }
  }

  &.btn--trans {
    border: 2px solid $color-numeris-blue;
    background: transparent;
    color: $color-letterhead;
    &:hover, &:focus {
      background: $color-numeris-blue;
      color: $color-white;
    }
  }

  &.btn--orange {
    border: 2px solid $package-orange;
    background: $package-orange;
  }

}