.btn {

  display: block;
  padding: .75em 2.5em;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 100px;

  @include md() {
    display: inline-block;
  }

  &:not(:last-of-type) {
    margin-bottom: .6em;
  }

  &.btn--blue {
    background: $color-numeris-blue;
    border: 2px solid $color-numeris-blue;
    color: $color-white;
    &:hover, &:focus {
      background: darken($color-numeris-blue, 15%);
    }
  }

  &.btn--trans {
    border: 2px solid $color-numeris-blue;
    background: transparent;
    color: $color-letterhead;
    &:hover, &:focus {
      background: $color-numeris-blue;
      color: $color-white;
    }
    &.white {
      color: $color-white;
    }
  }

  &.btn--orange {
    border: 2px solid $package-orange;
    background: $package-orange;
  }

  &.btn--contact {
    background: $package-orange;
    border-radius: unset;
    line-height: var(--header-nav-font-size);
    letter-spacing: 0.05rem;
  }

}

.btn-industry {
  //width: 300px;
  //height: 190px;
  background: red;
  margin: 0;
  padding: 0;
  min-height: 210px;
}