.btn, .form-submit {
  color: $color-white;
  display: inline-block;
  padding: .75em 2.5em;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 100px;
  font-family: 'AvenirDemi', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  min-width: 220px;
  max-height: 54px;

  &:hover, &:focus {
    text-decoration: none;
  }

  &.lower-case {
    text-transform: none;
  }


  &.btn--blue {
    background: $color-numeris-blue;
    border: 2px solid $color-numeris-blue;
    color: $color-white;
    &:hover, &:focus {
      background: darken($color-numeris-blue, 15%);
    }
  }

  &.btn--trans {
    border: 2px solid $color-numeris-blue;
    background: transparent;
    color: $color-letterhead;
    &:hover, &:focus {
      background: $color-numeris-blue;
      color: $color-white;
    }
    &.white {
      color: $color-white;
    }
  }

  &.btn--orange {
    border: 2px solid $package-orange;
    background: $package-orange;
    &:hover, &:focus {
      color: $color-white;
      background: $color-numeris-blue;
      border: 2px solid $color-numeris-blue;

    }
  }

  &.btn--contact {
    color: $color-white;
    background: $package-orange;
    border-radius: unset;
    line-height: var(--header-nav-font-size);
    letter-spacing: 0.05rem;
    font-family: AvenirMedium, sans-serif;
    font-weight: 500;
    border: 1px transparent;
    &:hover, &:focus, &.selected {
      color: $color-white;
      background: $color-numeris-blue;
    }
  }

}

.btn-industry {
  position: relative;
  margin: 0;
  padding: 0;
  height: 210px;
  width: 320px;
  &.workspace, &.education, &.health-fitness,
  &.healthcare, &.retail, &.hospitality,
  &.pro-sports, &.manufacturing, &.government {
    background-repeat: no-repeat;
  }
  &.workspace {
    background-image: url("../images/home/industries/workspace.jpg");
  }
  &.education {
    background-image: url("../images/home/industries/education.jpg");
  }
  &.health-fitness {
    background-image: url("../images/home/industries/health-fitness.jpg");
  }
  &.healthcare {
    background-image: url("../images/home/industries/healthcare.jpg");
  }
  &.retail {
    background-image: url("../images/home/industries/retail.jpg");
  }
  &.hospitality {
    background-image: url("../images/home/industries/hospitality.jpg");
  }
  &.pro-sports {
    background-image: url("../images/home/industries/sports.jpg");
  }
  &.manufacturing {
    background-image: url("../images/home/industries/manufacturing.jpg");
  }
  &.government {
    background-image: url("../images/home/industries/government.jpg");
  }

  span {
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: "AvenirDemi", sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
  }

}

.form-submit {
  cursor: pointer;
  background: $color-numeris-blue;
  border: none;
  padding: .75em 1.5em;
  min-width: 123px;
  max-height: 54px;
  font-family: AvenirRegular, sans-serif;
  font-size: 0.75rem;

  &:hover, &:focus {
    background: $package-orange;
  }
}