.copy-container {

  &:first-of-type {
    margin-bottom: 2rem;
    @include md() {
      margin-bottom: 0;
    }
  }
  &.right {
    @include md() {
      text-align: right;
    }
  }
  &.left {
    @include md() {
      text-align: left;
    }
  }
}

.expect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  margin-bottom: var(--sub-nav-gap);
  &:last-of-type {
    margin-bottom: 0;
  }
  h2 {
    margin-bottom: 10px;
  }
  img {
    margin-bottom: 0.938rem;
  }
  ul {
    text-align: left;
    margin: 5px 0 0 0;
    list-style: none;
    li::before {
      content: "•";
      color: $color-numeris-blue;
      display: inline-block; width: 1em;
      margin-left: -1em;
    }
  }

  .sub {
    white-space: nowrap;
  }

  @include md() {
    margin-bottom: revert;
    &:nth-of-type(2) {
      img {
        padding: 14px 0;
      }
    }
    &:nth-of-type(3) {
      img {
        padding: 5px 0;
      }
    }
  }
}

.delimeter {
  display: none;
  width: 1px;
  background: $color-numeris-blue;
  margin-top: .8rem;

  @include md() {
    display: block;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--nav-gap);
  margin: 4rem 0;

  @include md() {
    flex-direction: row;
    justify-content: center;
  }

}

.locations, .customer-care {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  row-gap: 4rem;

  @include md() {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    row-gap: 2rem;
  }

  @include lg() {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  }
}

.location, .customer-care >div {
  text-align: left;
  padding: 0;
  //@include outline(red);
  min-width: 197px;
}