.copy-container {

  &:first-of-type {
    margin-bottom: 2rem;
    @include md() {
      margin-bottom: 0;
    }
  }
  &.right {
    @include md() {
      text-align: right;
    }
  }
  &.left {
    @include md() {
      text-align: left;
    }
  }
}

.delimeter {
  display: none;
  width: 1px;
  background: $color-numeris-blue;
  margin-top: .8rem;

  @include md() {
    display: block;
  }
}