.copy-container {

  &:first-of-type {
    margin-bottom: 2rem;
    @include md() {
      margin-bottom: 0;
    }
  }
  &.right {
    @include md() {
      text-align: right;
    }
  }
  &.left {
    @include md() {
      text-align: left;
    }
  }
}

.expect-container {
  display: flex;
  //flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: fit-content;


  img {
    margin-bottom: 0.938rem;
  }
  ul {
    text-align: left;
    margin: 0;
    list-style: none;
    li::before {
      content: "•";
      color: $color-numeris-blue;
      display: inline-block; width: 1em;
      margin-left: -1em;
    }
  }

  .sub {
    white-space: nowrap;
  }

  @include md() {
    &:nth-of-type(2) {
      img {
        padding: 14px 0;
      }
    }
    &:nth-of-type(3) {
      img {
        padding: 5px 0;
      }
    }
  }
}

.delimeter {
  display: none;
  width: 1px;
  background: $color-numeris-blue;
  margin-top: .8rem;

  @include md() {
    display: block;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--nav-gap);
  margin-top: 4rem;

  @include md() {
    flex-direction: row;
    justify-content: center;
  }

}