.custom-select {
  position: relative;
  select {
    text-transform: uppercase;
    font-size: var(--header-nav-font-size);
    height: var(--header-contact-height);
    letter-spacing: 0.05rem;
    padding: 0 0 0 5.8em;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../images/shared/globe.svg');
    background-repeat: no-repeat;
    background-position: 31%;
    background-size: 26px 20px;
    border: none;
    max-width: 24em;
    color: $color-text-grey;
  }

  .custom-arrow {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-image: url("../images/shared/caret-down.svg");
    background-repeat: no-repeat;
    background-position: 50% 62%;
    height: 100%;
    width: 3rem;
    border-right: 2px solid $color-browser-chrome;
  }
}