.custom-select {
  position: relative;
}

.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3000;
  cursor: pointer;
  background-color: $color-white;
  padding: 0 1em;
  background-image: url("../images/shared/caret-down.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
  @include md() {
    padding: 0 2em;
    background-position: 99% center;
  }
  .globe {
    position: absolute;
    left: 0;
    display: none;
    @include md() {
      display: block;
    }
  }
}

.custom-select-trigger {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: var(--header-nav-font-size);
  height: var(--header-contact-height);
  letter-spacing: 0.05rem;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  max-width: 24em;
  color: $color-text-grey;
}

.custom-select-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border-top: 0;
  background: #fff;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  font-size: var(--header-nav-font-size);
}

.custom-select.open .custom-select-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-select-option {
  position: relative;
  display: block;
  font-size: inherit;
  color: $color-text-grey;
  line-height: var(--nav-gap);
  cursor: pointer;
  transition: all 0.5s;
}

.custom-select-option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}

.custom-select-option.selected {
  color: #ffffff;
  background-color: $color-steadfast-blue;
}

.arrow {
  //@include outline(red);
  height: 9px;
  width: 21px;
  right: 7px;
  top:50%;
  transform: translateY(-50%);
  background-image: url("../images/shared/caret-down.svg");
  background-repeat: no-repeat;
}

