.smart-locks, .electronic-locks, .legacy-locks {

  gap: var(--nav-gap);

  h2, p {
    text-align: left;
  }

  h2 {
    &.legacy, &.numeris {
      color: $color-text-grey;
      text-align: center;
      @include md() {
        text-align: left;
        padding-left: 2rem;
      }
    }
  }

  h2.support-pad {
    margin-bottom: var(--section-gutter);
  }

  .smart-locks-container, .smart-digilink-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--nav-gap);
    padding: var(--section-gutter) 0;

    @include rwd(966) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
    }

    img {
      //@include outline(red);
    }

    .digilink-lock {
      display: none;
      @include rwd(966) {
        display: flex;
        margin-left: -50px;
        max-height: 163px;
      }
    }

    .mobile-smart-divider {
      width: 80%;
      margin-top: -2rem;
      @include rwd(966) {
        display: none;

      }
      @include lg() {
        display: none;
      }
    }
  }

  .smart-digilink-container {
    margin-top: -5rem;
    @include rwd(966) {
      display: none;
    }
  }

  .smart-lock-wrap, .row {
    display: flex;
    flex-direction: column;
    gap: var(--nav-gap);
    @include rwd(738) {
      flex-direction: row;

    }
    @include rwd(966) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: unset;
    }
  }

  .row {
    padding: var(--section-gutter) 0;
    img {
      max-width: unset;
      height: unset;
      //image-rendering: crisp-edges;
    }
  }

  .thumbnail {
    p {
      text-align: center;
      margin: 0;
    }

    sup {
      text-decoration: none !important;
    }
  }

}