
$form-font-size: 0.85rem;

.sales-contact-form {
  background-color: rgba(51, 51, 51, 0.1);
  padding: 2rem 2rem 1rem 2rem;
}

.sales-form {
  .container {
    @include md() {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      .row {
        display: flex;
        gap: var(--nav-gap);
        .input-container {
          width: 50%;
        }
      }
    }
  }

  input[type="text"],
  input[type="email"],
  select {
    height: 2.25rem;
    color: $color-letterhead;
  }

  textarea {
    min-height: 86px;
  }

  #countryList, #stateList {
    font-size: $form-font-size;
    max-width: 99%;
    @include md() {
      max-width: unset;
    }
  }

  .input-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: .7rem;
  }

  .input-container-submit {
    display: flex;
    margin: 1.377rem 0;
    justify-content: center;

    @include md() {
      justify-content: flex-end;

    }
  }

  label {
    text-align: left;
    font-size: $form-font-size;
  }

  .input-container .state {
    display: none;
    pointer-events: none;

    &.show-state {
      display: flex;
      pointer-events: unset;
    }
  }

  [aria-disabled=true] {
    background: $color-numeris-blue;
    cursor: not-allowed;
  }

}