
.tab-container {
  .tab-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    display: none;
    gap: var(--section-gutter-gap);
    @include md() {
      flex-direction: row;
    }
    &.active {
      display: flex;
    }
  }

  .tab-list {
    display: flex;
    justify-content: center;
    li {
      position: relative;
      color: $color-white;
      width: 50%;
      background: $color-numeris-blue;
      padding: 1rem 0;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        bottom: -19px;
        left:50%;
        transform: translateX(-50%);
        z-index: 1;
        border-top: 20px solid $package-orange !important;
        border-top-color: inherit;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        display: none;
      }
      &.active {
        background: $package-orange;
        &:before {
          display: block;
        }
      }
      &:not(:last-child) {
        border-right: 1px solid rgba(0, 0, 0, 0.3);
      }
    }
  }
}