//placeholder

.vjs-big-play-button {
  background-color: $color-numeris-blue !important;
  width: 1em;
  height: 1em;
  line-height: 1em;
  @include md() {
    width: 2em;
    height: 2em;
    line-height: 2em;
  }
}

.video-holder {
  position: relative;
  &.hide-overlay {
    .video-overlay {
      display: none;
    }
  }
  .video-overlay {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -215%);
    @include md() {
      transform: translate(-50%, -315%);
    }
    @include lg() {
      transform: translate(-50%, -460%);
    }
    @include xl() {
      transform: translate(-50%, -470%);
    }
    z-index: 1;
    h2 {
      color: $color-white;
    }
  }
}