.video-js {

  .vjs-dock-text {
    display: none;
  }
  .vjs-play-progress, .vjs-big-play-button, .video-js .vjs-volume-level {
    background-color: $color-numeris-blue;
  }

  &:hover {

    .vjs-big-play-button {
      transition: .25s ease-in-out;
      background: $package-orange;
    }
  }

}

.vjs-error .vjs-error-display {
  display: none !important;
}


#bcoveContainerPlugs {
  .vjs-control-bar {
    display: none;
  }
  .video-js {
    height: 340px;
  padding-top: 37.25%;

    video {
      background-color: $color-white;
      &:focus {
        outline: none;
      }
    }

    .vjs-poster {
      background-color: $color-white !important;
    }

    .vjs-big-play-button {
      width: 1em;
      height: 1em;
      margin-left: -.5em;
      margin-right: -.5em;
      line-height: 1em;
      top: 66%;
    }

  }

  &.nextlock {
    .vjs-play-progress, .vjs-big-play-button, .video-js .vjs-volume-level {
      background-color: $color-numeris-blue;
    }
    &:hover {

      .vjs-big-play-button {
        transition: .25s ease-in-out;
        background: $package-orange;
      }
    }
  }
  &.numeris {
    .vjs-play-progress, .vjs-big-play-button, .video-js .vjs-volume-level {
      background-color: $color-numeris-blue;
    }

    &:hover {

      .vjs-big-play-button {
        transition: .25s ease-in-out;
        background: $package-orange;
      }
    }
  }

}

#bcoveContainer {

  margin-bottom: var(--section-gutter);
  .video-js {
    min-height: 337px;
    @include navBreak() {
      width: 227px;
    }

    video {
      background-color: $color-white;
      &:focus {
        outline: none;
      }
    }

    .vjs-poster {
      background-color: $color-white !important;
    }

    .vjs-big-play-button {
      width: 1em;
      height: 1em;
      margin-left: -.5em;
      margin-right: -.5em;
      line-height: 1em;
    }

    .vjs-volume-panel, .vjs-picture-in-picture-control {
      display: none;
    }

  }
}

.digilink-video {
  .video-js {

    .vjs-dock-text {
      display: none;
    }
    .vjs-play-progress, .vjs-big-play-button, .video-js .vjs-volume-level {
      background: $package-orange;
    }

    &:hover {
      .vjs-big-play-button {
        transition: .25s ease-in-out;
        background-color: $color-numeris-blue;
      }
    }


    .vjs-big-play-button {
      margin-top: -5px;
      @include lg() {
        margin-top: -40px;
      }
      @include xl() {
        margin-top: -140px;
      }
    }

  }
}

.video-holder {
  position: relative;

  .rec-button {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,200%);
  }

  &.show-cta {
    .rec-button {
      display: block;
    }
  }
}

//360s
.three60-container {
  position: relative;

  .three60 {
    position: absolute;
    bottom: -20px;
    left: 10px;
    width: 88%;
    height: 21px;
    background-image: url('../components/video-player/images/icons/icon-rotate-circle.svg');
    background-repeat: no-repeat;
    background-position: center -98px;
    &.hide {
      display: none;
    }
  }

  #bcoveContainer {
    .vjs-control-bar {
      display: none;
    }
    &.nextlock {
      .vjs-play-progress, .vjs-big-play-button, .video-js .vjs-volume-level {
        background-color: $color-numeris-blue;
      }
      &:hover {

        .vjs-big-play-button {
          transition: .25s ease-in-out;
          background: $package-orange;
        }
      }
    }
    &.numeris {
      .vjs-play-progress, .vjs-big-play-button, .video-js .vjs-volume-level {
        background-color: $color-numeris-blue;
      }

      &:hover {

        .vjs-big-play-button {
          transition: .25s ease-in-out;
          background: $package-orange;
        }
      }
    }
  }
}
//END 360s


