// Small tablets (portrait view) window width and more
$screen-md-min: 768px;

// Tablets and small desktops window width and more
$screen-lg-min: 992px;

// Large tablets and desktops window width and more
$screen-xl-min: 1200px;


// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

 //Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

 //Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

 //Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}



//outline
@mixin outline($color) {
  outline: 1px solid $color;
}


