$gutterPadding: 2em;
$letterSpacing: 3px;


.about-digilock-showroom {
  .hero-img-container {
    position: relative;
    h1 {
      position: absolute;
      bottom: 90px;
      background: url("../pages/about/digilock-showroom/images/SVG/h1-bannerAsset.svg") no-repeat;
      background-size: cover;
      width: 70%;
      padding: .5em $gutterPadding;
      span {
        text-transform: none;
      }
    }
  }

  .bq-container {
    @include lg() {
      display: block !important;
      img {
        width: 80%;
      }
    }
  }

  .columns {
    padding: $gutterPadding $gutterPadding !important;
    .right {
      img {
        margin-bottom: var(--nav-gap);
      }
      &.bottom {
        p:first-of-type {
          margin-top: 0;
        }
      }
    }

    &.bottom {
      padding-top: 0 !important;
    }
  }

  .closer {
    margin-top: 70px;
    .bar {
      height: 10px;
      background-color: $color-numeris-blue;
      width: 15%;
      margin-bottom: 20px;
    }
    p {
      font-style: italic;
    }
  }

  .sub-container {
    padding-bottom: 0 !important;
  }

  a {
    color: $color-numeris-blue;
    text-decoration: underline;
  }

}

.case-studies-workspace, .about-digilock-showroom {
  text-align: left;
  .hero {
    display: flex;
    flex-direction: column;
    //align-items: center;

    &.middle {
      padding: 0 $gutterPadding;
    }

  }

  img {
    display: block;
  }

  h1, h2 {
    text-transform: uppercase;
  }

  h1 {
    width: 100%;
    background-color: $color-numeris-blue;
    font-family: AvenirBold, sans-serif;
    color: $color-white;
    padding: 1em $gutterPadding 1em 1.4em;
    margin: 0 !important;
    letter-spacing: $letterSpacing;
    @include lg() {
      font-size: 1.5em;
    }
  }

  .sub-container {
    padding: 2em;
    letter-spacing: $letterSpacing;
  }

  h2 {
    color: $color-numeris-blue;
    font-size: 1em;

    span {
      display: block;
      margin-top: .5em;
      //color: $color-text-gray;
      font-family: AvenirRegular, sans-serif;
      font-size: .9em;
    }

    img {
      margin-top: 20px;
      margin-bottom: 30px;
      //display: none;
    }
  }

  .columns {

    //@include outline(red);
    padding: 0 $gutterPadding $gutterPadding;
    line-height: 1.5em;

    .col {

      @include lg() {
        p {
          font-size: 1.2em;
        }
        line-height: 1.9em;
      }

      &.left {
        @include lg() {
          &:first-of-type {
            padding-right: 1em;
          }
        }

        p {
          &:first-of-type {
            margin-top: 0;
          }
        }
      }

      &.right {
        padding: 0 0 0 1em;

        .sub-container {
          padding: 1em 1em 0 0;
          h2 span {
            margin-top: 0;
          }
          &:first-of-type {
            margin-top: 20px;
          }
        }
      }

    }

    @include md() {
      display: flex;
      .col {
        width: 50%;
      }
    }

    .bq-container {
      @include lg() {
        display: flex;
        justify-content: center;
      }
    }

    blockquote {
      @include lg() {
        width: 50%;
        margin: 30px 0 60px 0;
      }
      //letter-spacing: $letterSpacing;
      text-align: center;
      color: $color-numeris-blue;
      line-height: 1.5em;
      font-size: 1.3em;
      font-weight: bold;
      margin-top: 18px;

      .line {
        width: 50%;
        height: 1px;
        background: url("../pages/about/digilock-showroom/images/subhead-line.png");
        margin: auto;
        margin-top: 18px;

        &:first-of-type {
          margin-bottom: 18px;
          margin-top: 0;
        }
      }
    }

    .lock-container {
      display: flex;
      justify-content: center;
      margin-top: 60px;

      img {
        width: 75%;
      }
    }

    .description {
      margin-top: -100px;
      @include lg() {
        width: 50%;
        margin-top: -150px;
      }

      p {
        &:first-of-type {
          color: #4c4c4c;
          font-weight: bolder;
          letter-spacing: $letterSpacing;
        }
      }
    }
  }

  .divider {
    margin-bottom: 10px;
  }

}