.contact-info {

  @include outline(red);

  .container {
    .info-current .container {
      padding-top: var(--section-gutter);
      @include md() {
        display: flex;
        justify-content: space-evenly;
      }
    }

    @include navBreak() {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      .info-current .container {
        flex-direction: column;
      }

      .info-current, .sales-form {
        .container {
          width: 100%;
        }
      }

    }
  }

}

.info-secondary {
  @include outline(green);
}




.info-card, .info-live {
  text-align: left;
}

.info-card {
  margin-bottom: var(--section-gutter);

}
