.home {

  .fw-video-holder {
    position: relative;
  }

  .video-overlay {
    position: absolute;
    color: $color-white;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    line-height: 1em;
    @include md() {
      font-size: 4em;
    }
  }

}