.locks {
  .hero {
    position: relative;
    padding-bottom: 0;
  }

  .what-to-expect {
    background-color: $color-faded-blue;

    .expect-containers {
      display: flex;
      flex-wrap: nowrap;
      margin-top: var(--nav-gap);
      gap: var(--nav-gap);
      flex-direction: column;
      align-items: center;
      @include md() {
        flex-direction: row;
        align-items: flex-start;
      }
    }
  }

  .what-to-expect, .smart-locks {
    .container {
      padding-top: var(--section-gutter);
    }
  }

  .smart-locks-container, .row {
    padding-bottom: 0 !important;
  }
}