.patents {
  
  h1 {
    padding-bottom: var(--section-gutter);
  }

  .hero p {
    text-align: left;
  }

  table {
    width: 100%;
    margin-bottom: 40px;
    background: #ccc;
    border-spacing: 1px;
  }

  th {
    background: $color-numeris-blue;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    vertical-align: top;
    padding: 1rem;
  }

  td {
    text-align: left;
    vertical-align: top;
    padding: 1rem;
    background: #fff;
  }


  p, td {
    color: $color-text-grey;
    font-size: 18px !important;
  }

  td.grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 0;
  }

}