.patents {

  h1 {
    padding-bottom: var(--section-gutter);
  }

  .hero p {
    text-align: left;
  }

  table {
    width: 100%;
    margin-bottom: 40px;
    background: #ccc;
    border-spacing: 1px;
  }

  th {
    background: $color-numeris-blue;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    vertical-align: top;
    padding: 1rem;
  }

  td {
    padding: 6px;
    text-align: left;
    vertical-align: top;
    padding: 1rem;

  }


  td {
    background: #fff;
  }

  p, td {
    color: $color-text-grey;
    font-size: 18px !important;
  }

  td >div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
      @include rwd(800) {
        width: 33.3%;
      }
    }
    p {
      margin: 0 0 3px 0;
    }
  }

  td.grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
  }

}