.products {

  &.smart-locks-page, &.electronic-locks-page  {
    ul {
      text-align: left;
    }
    .smart-locks-overview, .legacy-locks-overview {
      ul {
        text-align: left;
      }
      h2 {
        margin-bottom: 1.2em;
        text-align: center;
      }
      span {
        color: $color-numeris-blue;
        cursor: pointer;
        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }
    .smart-digilink {
      p {
        text-align: left;
        padding-left: 1rem;
      }
      .item-single-logo {
        padding-left: 1rem;
      }
    }

    .sl-buttons {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: var(--sub-nav-gap);
      @include md() {
        flex-direction: row;
      }
    }
    .video-holder {
      width: 100%;
      position: relative;
      h2 {
        color: $color-white;
        text-align: center;
        z-index: 1;
        padding: 0;
        width: 90%;
        top: 5px;
        position: absolute;
        font-size: 1rem;
        @include md() {
          top: 50px;
          font-size: 1.2rem;
        }
        @include navBreak() {
          top: 30px;
        }
      }
    }
    @include navBreak() {
      h2 {
        text-align: left;
        padding-left: 1rem;
        margin-bottom: 0;
      }
    }
  }
  &.electronic-locks {
      .revealer {
        //@include outline(tomato);
        margin-bottom: var(--nav-gap);
      }
  }
  &.mech {
    .details {
      .interface-link {
        cursor: pointer;
        color: $color-numeris-blue;
        &:hover {
          text-decoration: underline;
        }
        &.selected {
          color: revert;
        }
      }
    }
  }
  .mech-logo {
    margin-bottom: var(--nav-gap);
  }

  &.specialty-lockers {
    .locker-solutions {
      a {
        font-family: "AvenirDemi", sans-serif;
      }
    }
    .packagehold, .juicebar {
      ol, ul {
        text-align: left;
        padding: 0 1.2rem 0 1.1rem;
      }
      .ph-overview {
        h1 {
          margin: var(--nav-gap) 0 1rem 0;
        }
        @include md() {
          text-align: left;
        }
        margin-bottom: var(--section-gutter);
      }
      .grid-two-col {
        margin-bottom: var(--section-gutter);
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      .grid-two-col-item-single {
        &.gtc-description {
          margin-top: var(--section-gutter);
          @include navBreak() {
            margin-top: revert;
            place-items: center;
            div {
              text-align: left;
            }
          }
          span {
            font-family: "AvenirDemi", sans-serif;
          }
        }
      }
      .logo-jb {
        margin-bottom: var(--section-gutter);
      }
      .jb-gallery {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        img {
          min-width: 347px;
        }
        @include md() {
          flex-direction: row;
        }
      }
    }
  }
}