.support {

  .callout {
    margin: .5rem 0 2rem 0;
  }
  .general-faq {
    text-align: left;
  }

  .btn {
    min-width: 173px !important;
  }

  .tab-content-container.t-series img {
    cursor: pointer;
  }
  
}