.where-to-buy {

  section:first-of-type {
    padding-bottom: 0;
  }

  h1.wtb {
    margin-bottom: var(--nav-gap);

  }

  h4 {
    color: $color-black;
    text-transform: capitalize;
    font-family: "AvenirDemi", sans-serif;
    font-size: 1.2rem;
  }
}