.where-to-buy {

  h4 {
    color: $color-black;
    text-transform: capitalize;
    font-family: "AvenirDemi", sans-serif;
    font-size: 1.2rem;
  }

  .dealer-locations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 4rem;
  }

  .dealer {
    text-align: left;
    h4 {
      font-size: 1rem;
    }
  }

  button.selected {
    border: 2px solid $color-numeris-blue;
  }

}