*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --container-width: 1040px;
  --container-width-copy: 900px;
  --section-gutter: 4rem;
  --nav-gap: 1.8rem;
  --sub-nav-gap: 1rem;
  --header-contact-height: 41px;
  //Nav
  --header-nav-font-size: 1rem;
  --header-nav-mobile-height: 91px;
  --header-nav-desktop-height: 161px;
}

/* Document
   ========================================================================== */

html {
  font-family: AvenirRegular, sans-serif;
  font-weight: normal;
  line-height: 1.6; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

body {
  color: $color-letterhead;
  text-align: center;
}

a{
  color: $color-numeris-blue;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
  }
}

section {
  padding-bottom: var(--section-gutter);

  &:first-of-type {
    margin-top: var(--header-nav-mobile-height);
    padding-top: var(--section-gutter);
    &.no-pad {
      padding-top: 0;
    }
    @include navBreak() {
      margin-top: var(--header-nav-desktop-height);
    }
  }
}

.section-delimeter {
  height: 1px;
  background: $color-browser-chrome;
  margin-bottom: var(--section-gutter) !important;
  &.bump-up {
    margin-top: -1.5rem;
  }
}

.hero.--hero-image {
  h1, h6 {
    position: absolute;
    font-size: 3.8rem;
    @include hero-centerer();
    color: $color-white;
  }
}

footer {
  padding-top: var(--section-gutter);
  &:last-of-type {
    padding-bottom: var(--section-gutter);
  }
}


img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  max-width: var(--container-width);
  margin: 0 auto;
  //@include outline(gold);
}


.lg-screen {
  display: none;
  @media(min-width: $screen-md-break-nav) {
    display: block;
  }
}

.nav-overlay {
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 500; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  &.show {
    width: 100%;
  }
}

hr {
    width: 100%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 0;
}
