*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --container-width: 1040px;
  --nav-gap: 1.4rem;
  --header-contact-height: 41px;
}

/* Document
   ========================================================================== */

html {
  font-family: AvenirRegular, sans-serif;
  font-weight: normal;
  line-height: 1.6; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

body {
  color: $color-letterhead;
  text-align: center;
}

section, footer {
  padding-top: 4em;
  &:first-of-type {
    padding-top: 3em;
  }
  &:last-of-type {
    padding-bottom: 4em;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container {

  width: 90%;
  max-width: var(--container-width);
  margin: 0 auto;
  //@include outline(gold);
}


.lg-screen {
  display: none;
  @media(min-width: 725px) {
    display: block;
  }
}

