*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: $color-letterhead;
  text-align: center;
}

section, footer {
  padding-top: 4em;
  &:first-of-type {
    padding-top: 3em;
  }
  &:last-of-type {
    padding-bottom: 4em;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  @include outline(gold);

}


.lg-screen {
  display: none;
  @media(min-width: 725px) {
    display: block;
  }
}

