h1 {
  margin: 0 0 1.2em;
  @include md() {
    br {
      display: none;
    }
  }
}

h2, h3, h4, h5, h6, p {
  margin: 0 0 .75em;
}

h1:last-child, h2:last-child, h3:last-child,
h4:last-child, h5:last-child, h6:last-child,
p:last-child {
  margin: 0;
}

h1, h6 {
  font-family: AvenirRegular, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.188rem;
  line-height: 2.7rem;
  color: $color-black;
}

h2, h2.sub {
  font-family: AvenirDemi, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  color: $color-letterhead;
}

h2.sub{
  font-size: 1.5rem;
  margin: 0;
}

h3 {
  font-family: AvenirDemi, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  color: $color-letterhead;
}

h4 {
  font-family: AvenirMedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 0.11em;
}

p {
  font-family: AvenirRegular, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: $color-letterhead;
}