footer {


  background: $color-steadfast-blue;
  color: $color-white;

  .btn {
    min-width: 136px;
  }

  h3 {
    color: $color-white;
  }

  .questions {
    padding-bottom: var(--section-gutter);
  }

  .questions {
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include md() {
      flex-direction: row;
      justify-content: space-evenly;
      .btn {
        margin-bottom: 0;
      }
    }
  }

  p {
    color: $color-white;
  }

  a {
    text-decoration: none;
    color: $color-numeris-blue;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  a[href^="mailto:"] {
    color: $color-white;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  .unstyled-list {
    font-size: .9rem;
    span {
      color: $color-numeris-blue;
      font-weight: bolder;
    }
  }

  .social-icons {
    margin-top: 10px;
    a {
      display: inline-block;
      &:first-of-type {
        margin-right: 11px;
      }
    }
  }

  .section-delimeter {
    margin-top: var(--section-gutter);
  }

  .copyright {
    margin-top: var(--section-gutter);
    text-align: left;
    font-size: 0.688rem;
  }
}