.grid {
  display: flex;
  flex-direction: column;

  @include md() {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--nav-gap);
  }

  .col {
    flex: 1;
  }

}


.break {
  flex-basis: 100%;
  height: 0;
}

//USED FOR PRODUCT DETAILS PAGES SO FAR
.grid-two-col {
  display: grid;
  //gap: var(--section-gutter);
  @include navBreak() {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  h3 {
    font-size: 1.063rem;
    text-align: left;
  }

  .grid-two-col-item {
    display: grid;
    grid-template-columns: 1fr;
    @include md() {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .grid-two-col-item-single {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    &.center {
      align-content: space-between;
      @include md() {
        min-height: 500px;
      }
    }
    @include navBreak() {
      &:not(.center) {
        place-items: start;
      }
    }

    &.is-reversable {
      order: 1;
      @include navBreak() {
        order: revert;
      }
    }
  }
}