.grid {
  display: flex;
  flex-direction: column;

  @include md() {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--nav-gap);
  }

  .col {
    flex: 1;
  }

}


.break {
  flex-basis: 100%;
  height: 0;
}

.grid-two-col {
  display: grid;
  gap: var(--nav-gap);

  @include md() {
    grid-template-columns: repeat(2, 1fr);
  }

  .interface {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }


  >div {
    @include outline(dodgerblue);
  }
}