.grid {
  display: flex;
  flex-wrap: wrap;
}
.col {
  flex: 0 0 100%;
  padding: 0 .75em;

  @include md() {
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }
  }

}
.col--full {
  flex: 0 0 100%;
}


@include md() {
  .col--1-3 {
    flex-basis: 33.3333%;
  }
  .col--2-3 {
    flex-basis: 66.6666%;
  }
  .col--1-2 {
    flex-basis: 50%;
  }
}

.flex {
  display: flex;
  //gap: var(--gap, 1rem);
}
