.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: $color-white;
  z-index: 1000;

  a {
    color: $color-white;
    font-size: 1rem;
    text-decoration: none;
    &:hover, &:focus, &.selected {
      color: $color-numeris-blue;
    }
  }


  .contact {
    height: var(--header-contact-height);
    background-color: $color-browser-chrome;
    text-transform: uppercase;

    .container {
      width: 100%;
      max-width: none;
      justify-content: flex-end;
    }

    .menu-contact {
      gap: 0 !important;
      .geo {
        display: flex;
        align-items: center;
        line-height: 1.7rem;
        padding: 0 1rem;
        background-color: $color-white;
        p {
          font-size: 12px;
          white-space: nowrap;
        }
        @include md() {
          padding: 0 var(--nav-gap) 0 var(--nav-gap);
          p {
            font-size: inherit;
          }
        }
      }
    }
  }

  .main {
    position: relative;
    background-color: $color-steadfast-blue;
    height: 120px;
    align-items: center;
    img {
      margin-top: 10px;
      @include navBreak() {
        margin-top: unset;
      }
    }
    .container {
      justify-content: space-between;
    }
  }

  .dropdown {
    background-color: $color-steadfast-blue;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    transition: all 0.2s ease-in;
    padding: 1rem 3rem 1rem 1rem;
    left: 0;
    text-align: left;
    @include md() {
      position: absolute;

    }
  }

  .menu-main li {
    position: relative;
  }

  .menu-main li:hover >ul,
  .menu-main li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }


  //MOBILE MENU
  .mobile-nav-toggle {
    display: none;
  }
  @media (max-width: $screen-md-break-nav) {
    .main {
      height: 50px;
    }
    .contact {
      .container {
        //width: 90%;
        max-width: var(--container-width);
        justify-content: flex-end;
      }
    }

    .main-nav {
      position: fixed;
      top: var(--header-nav-mobile-height) !important;
      z-index: 1000;
      inset: 0 0 0 40%;
      background-color: $color-steadfast-blue;
      padding: min(30vh, 5rem) 2rem;
      transform: translateX(100%);
      transition: transform 350ms ease-out;

      ul {
        flex-direction: column;
        text-align: left;
        &:first-of-type {
          margin-bottom: var(--nav-gap);
        }
      }

      .dropdown {
        display: none;
        padding: 0 .5rem;
        &.show {
          display: block;
        }

        ul {
          gap: .1rem !important;
          margin: 0;
        }
      }

    }

    .main-nav[data-visible="true"] {
      transform: translateX(0%);
    }

    .mobile-nav-toggle {
      display: block;
      position: absolute;
      background-color: transparent;
      background-image: url("../images/shared/icon-hamburger.svg");
      background-repeat: no-repeat;
      border: 0;
      width: 1.6rem;
      aspect-ratio: 1;
      top: 1rem;
      right: 2rem;
      z-index: 9999;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
      background-image: url("../images/shared/icon-close.svg");
    }

  }

}

