.main-header {
  position: fixed;
  background-color: $color-steadfast-blue;
  top: 0;
  left: 0;
  right: 0;
  color: $color-white;
  z-index: 1000;
  padding-top: 2em;

  a {
    color: $color-white;
    font-size: 0.938rem;
    text-decoration: none;
    &:hover, &:focus {
      color: $color-numeris-blue;
    }
  }

  .menu-contact, .menu-main {
    @include outline(purple);
  }


  ul.dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    li {
      transition-duration: 0.5s;
      &:hover {
        cursor: pointer;
      }
    }
  }

  //MOBILE MENU
  .mobile-nav-toggle {
    display: none;
  }
  @media (max-width: $screen-md-min) {
    .main-nav {
      position: fixed;
      z-index: 1000;
      inset: 0 0 0 30%;
      background: $color-numeris-blue;
      padding: min(30vh, 5rem) 2rem;
      transform: translateX(100%);
      transition: transform 350ms ease-out;


      ul {
        flex-direction: column;
        text-align: left;
        &:first-of-type {
          margin-bottom: var(--gap, 1rem);
        }
      }
    }

    .main-nav[data-visible="true"] {
      transform: translateX(0%);
    }

    .mobile-nav-toggle {
      display: block;
      position: absolute;
      background-color: transparent;
      background-image: url("../images/shared/icon-hamburger.svg");
      background-repeat: no-repeat;
      border: 0;
      width: 1.6rem;
      aspect-ratio: 1;
      top: 2rem;
      right: 2rem;
      z-index: 9999;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
      background-image: url("../images/shared/icon-close.svg");
    }

  }

}

