.main-header {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: $color-white;
  z-index: 1000;

  a {
    color: $color-white;
    font-size: 0.9rem;
    text-decoration: none;
    &:hover, &:focus {
      color: $color-numeris-blue;
    }
  }


  .contact {
    height: var(--header-contact-height);
    background-color: $color-browser-chrome;
    text-transform: uppercase;


    .container {
      width: 100%;
      max-width: none;
      justify-content: flex-end;
    }
  }

  .main {
    position: relative;
    background-color: $color-steadfast-blue;
    height: 120px;
    align-items: center;
    .container {
      justify-content: space-between;
    }
  }

  .dropdown {
    display: none;
  }


  .menu-contact, .menu-main {
    //@include outline(purple);
  }


  //MOBILE MENU
  .mobile-nav-toggle {
    display: none;
  }
  @media (max-width: $screen-md-min) {


    .contact {
      .container {
        width: 90%;
        max-width: var(--container-width);
        justify-content: flex-end;
      }
    }


    .main-nav {
      position: fixed;
      z-index: 1000;
      inset: 0 0 0 30%;
      background-color: $color-steadfast-blue;
      padding: min(30vh, 5rem) 2rem;
      transform: translateX(100%);
      transition: transform 350ms ease-out;

      ul {
        flex-direction: column;
        text-align: left;
        &:first-of-type {
          margin-bottom: var(--nav-gap);
        }
      }

      .dropdown {
        display: none;
        padding: 0 .5rem;
        &.show {
          display: block;
        }

        ul {
          gap: .1rem !important;
          margin: 0;
        }
      }


    }

    .main-nav[data-visible="true"] {
      transform: translateX(0%);
    }

    .mobile-nav-toggle {
      display: block;
      position: absolute;
      background-color: transparent;
      background-image: url("../images/shared/icon-hamburger.svg");
      background-repeat: no-repeat;
      border: 0;
      width: 1.6rem;
      aspect-ratio: 1;
      top: 3rem;
      right: 2rem;
      z-index: 9999;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
      background-image: url("../images/shared/icon-close.svg");
    }

  }

}

