
$main: #808080;
$secondary: rgba(22, 219, 147, 1);
$accent: #009abf;

$white: rgb(255, 255, 255);
$dark: #444;

// Text colors
$text-main: $main;
$text-inverse: $white;
$text-accent: $accent;
$text-secondary: $main;






//PRIMARY COLORS
$color-white: #fff;
$color-black: #000000;
$color-semi-black: #414243;
$color-primary-gray: #96989a;
$color-button-gray: #828080;
$color-text-gray: #808080;
$color-footer: #818181;
$color-footer-headline: #bcbec0;
$color-section-background: #dedede;
$color-contact-dark-blue: #102939;
$color-product-page-grey: #ececec;
$color-product-smart-grey: #7b7878;


//PRIMARY COLORS
$color-primary-blue: #002A3A;
$primary-white: #fff;


//new marc
$color-nextlock-green: #8CC63E;
$color-numeris-blue: #009abf;

$color-new-grey: #e6e6e6;
$color-new-dark-grey: #a0a0a0;
$color-section-grey: #f2f2f2;


//legacy
$color-dark-blue: #236db6;
$color-legacy-red: #700031;
$color-darkest-grey: #424852;

//packagehold
$color_figcaption: #5E6367;
$package-orange: #FF6020;
$color-tan-background: rgba(237, 228, 219, 0.3);
$color-form-label: #e6dfdf;
$color-action-red: #cb4c6f;
$color-base-light-grey: #f6f7f9;
$color_copy_grey: #A9A9A9;

$covid-grey: #808182;
