@font-face {
  font-family: "AvenirRegular";
  src: url("../fonts/AvenirNextLTPro-Regular.woff2")
  format("woff2"), url("../fonts/AvenirNextLTPro-Regular.woff")
  format("woff"), url("../fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family:"AvenirMedium";
  src:url("../fonts/AvenirNextLTPro-Medium.woff2")
  format("woff2"),url("../fonts/AvenirNextLTPro-Medium.woff")
  format("woff"),url("../fonts/AvenirNextLTPro-Medium.ttf")
  format("opentype");
  font-style:normal;
  font-weight:400;
}

@font-face {
  font-family:"AvenirDemi";
  src:url("../fonts/AvenirNextLTPro-Demi.woff2")
  format("woff2"),url("../fonts/AvenirNextLTPro-Demi.woff")
  format("woff"),url("../fonts/AvenirNextLTPro-Demi.ttf")
  format("opentype");
  font-style:normal;
  font-weight:400;
}